

:root {
--cor-de-fundo:
--bran




}

body{
 background-color: var();
 font-family: var(--fonte-principal);
 font-size: 16px;
 font-weight: 400;
} 
.cabeçalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url( );
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho{
    background-color: ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container_imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container_botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu_titulo,
.lista-menu_item {
    padding: 1em;
    background-color: ;
}

.lista-menu_titulo {
    color: ;
    font-weight: 700;
}

.lista-menu_link {
    background: ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: ;
    background-clip: text;
    text-transform: uppercase;
}

.container_botao {
    display: none;
}

.banner {
    background-color: ;
    color: ;
    text-align: center;
    padding: 2.5em 2em;
}

.banner_titulo {
    font-size:  18px;
    font-weight: 700;
}

.banner_texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner_pesquisa {
    background-color: ;
    border: 1px solid var();
    color: ;
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner_pesquisa::placeholder {
    font-family:var() ;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var();
    background: url();
    background-position: 1em;
}
.carrossel_titulo {
    color: var();
    background-color: var();
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5 em 0;
}

.swiper-slide img {
 width: 100%;
}


.swiper-button-prev,
.swiper-button-next {
    display: none;
}


.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card {
    background: var();
    box-shadow: 0px 4px 4px;
    border-radius: 10px ;
    margin: 1em;
    padding: 1em;
}

.card_descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;

}

.card_botões {
    display: flex;
    justify-content: space-between;
}

.botões {
  display: flex;
}


.descrição_titulo {
    color: var();
    font-weight: 700;
}

.descrição_titulo-livro {
    color: var();
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descrição_texto {
    font-size: 14px;
}

.botões_ancora {
    background-color: var();
    padding: 1em 2.2em;
    color: var();
    font-weight: 700;
    text-decoration: none;
}

.botões_item {
    margin: 0 0.5em;
}
.tópicos {
    background: var();
    text-align: center;
    padding: 1em 0;
}

.tópicos_titulo {
    color: var();
    font-weight: 300;
    margin-bottom: 1em;
}

.tópicos_lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos_item {
    margin: 2em 0.5em;
}

.tópicos_link {
    color: var();
    padding: 1em;
    background-color: var();
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.contato {
    background-color: var();
    padding: 1em;
}

.contato_titulo,
.contato_texto {
    background: var();
    -webkit-background-clip: text;
    -webkit-text-fill-color: ;
    background-clip: text;
}

.contato_titulo {
    font-size: 18px;
    font-weight: 500;
}

.contato_texto {
    font-weight: 300;
    margin: 1em 0;
}

.contato_email {
    padding: 1em;
    border: 1px solid var();
    border-radius: 24px;
    width: 90%;
    color: var();
}

.contato_email::placeholder {
    font-family:var() ;
    color: var();
    background: url() no-repeat 5%;
    padding-left: 2em;
}
hr {
    margin: 0;
}

.rodapé {
    background-color: var() ;
    padding: 1em;
}

























































}


















































































































