
 
:root {
--cor-de-fundo: #f8e1e1;
--branco: #ffffff;
--bege: #6e4b4b;
--marrom: linear-gradient(97.54deg, #683535 35.49%, #3E1C1C)
--fonte-principal
var(--marrom)
}

body {
    background-color:var(--cor-de-fundo);
    font-family: var(fonte principal);
    font-size: 16px;
    font-weight: 400
}
.cabeçalho__menu-hamburguer {
  



